body{
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  font-family: 'Ubuntu', sans-serif;
  padding: 0 12rem 0 12rem;

}

.sign-image{
  height: 37rem;
  width: 25rem;
  border-radius: 25px;
  box-shadow: 10px 15px 18px #2a363b;
}
.sign-left{
  text-align: center;
  padding-top: 4rem;

}
.sign-right{
  text-align: center;
  padding-top: 3rem;

}
.signup-container{
  height: auto;
  width: 25rem;
  background-color: #2a363b;
  border-radius: 25px;
box-shadow: 10px 15px 18px #888888;

}
.sign-text{
  color: #f5f5f5;
}
.sign-text{
  padding: 1rem 2rem;
}
.signin-button{
  text-align: right;
}
.dash-head{
  padding: 1rem 4rem 0 4rem;
   
}
.selector-for-some-widget {
  box-sizing: content-box;
}
hr{
  color: black;
}
.logo{
  font-family: 'Pacifico', cursive;
}
.feed{
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  background-color: bisque;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 25px;
}
.feed-dp{
  border-radius: 50%;
  height: 3.15rem;
  width: 3.15rem;
  
  border-color: black;
}

.dash-feed-name{
  text-decoration: none;
  color: black;
}
.dash-feed-name:hover{
  color: black;
  text-decoration: none;
}
.interact-button{
  height: 2rem;
  width: 2rem;
}
.bio{
  height: 19rem;
  width: 60rem;
  
  background-color: wheat;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 25px;
}
.upload-group{
   background-color: wheat;
   padding: 1rem 4rem 0 4rem;
   text-align: center;
   width: 30rem;
   height: 20rem;
   border-radius: 25px;
}

.upload-pro{
  background-color: wheat;
  width: 30rem;
   height: 27rem;
  margin: auto auto auto auto;
  padding: 1.5rem 2rem;
  text-align: center;
  border-radius: 25px;
}

.dp{
   border-radius: 50%;
   height: 15rem;
   width: 15rem;
   margin-top: 1rem;
   /* margin-right: 4rem; */
   

}
.dp-row{
  align-content: center;
}
.pro-name{
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: auto;
  font-weight: bolder;
}

.pro-bio{
  margin-left: 1.5rem;
  margin-top: 2rem;
  
}
.pro-name-div{
   overflow-wrap: break-word;
   width: auto;
}

.photo-area{
  width: 60rem;
  text-align: center;
  
}
.post-tile{
  width: 20rem;
  height: 20rem;
  text-align: center;
  padding-top: 3rem;
}
.profile-photo{
  width: 100%;
  height: 110%;
  border-radius: 20px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.column-area{
  column-count: 3;
}
.column {
  flex: 33.33%;
  column-fill: balance;
}
.row {
  display: flex;
}
.text {
  background-color: #f38181;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}




.caption-text{
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
}
.caption-container{
  text-align: left;
  margin-top: 1rem;
}
.interaction{
  margin-top: 1rem;
}
.feed-photo{
  text-align: center;
}

.feed-photo-img{
   width: 24rem;
  height: 24rem;
  margin-left: auto;
  margin-right: auto;
}
.feed-photo-img:hover {
    transform: scale(1.05);
}
.profile-photo:hover {
    
    filter: blur(3px);
}

.individual-post{
  height: 35rem;
  width: 60rem;
  background-color: wheat;

}

.individual-post-photo{
  height: 32rem;
  width:32rem;
}
.individual-post-photo-container{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

.individual-post-interaction{
  padding: 1.5rem;
}

.form-control{
  background-color:#fcfefe;
}
.comment-box{
  border-radius: 25px;
}
.comment-section{
  max-height: 16rem;
  min-height: 7.5rem;
  height: auto;
  overflow: auto;
  width: auto;
  padding: 0.2rem;
  overflow-wrap: normal;
  overflow-x: hidden; 
}
.icon-divide{
  padding: 0.6rem;
}
.fa-comment{
  color: #2a363b;
}
.individual-post-caption{
  overflow: auto;
  height: auto;
  max-height: 12rem;
}
.commentDP{
  border-radius: 50%;
  height:1.6rem;
  width: 1.6rem;
}
.comment-individual{
  padding: 2px;
}
.delete-option{
  float: right;
}
.three-dot{
  color: wheat;
}
.three-dot-button{
  background-color: wheat;
}

.dropdown{
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: wheat;
}

#rchars{
  line-height: 10px;
}



.follower-button{
  background-color: inherit;
  border: none;
  display: inline;
}


.feed-dp-modal{
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  
  border-color: black;
}